{{- $page := . -}}
{{- $hero := partial "function/card-media.html" $page -}}

{{- if $hero -}}
    {{- $hero = strings.TrimPrefix "/" $hero -}}
{{- end -}}
{{- $heroResource := false -}}
{{- with $hero -}}
    {{- $heroResource = dict "Path" . "Resources" $page.Resources | partial "function/resource.html" -}}
{{- end -}}
{{- if or $hero $heroResource -}}
    {{- $heroURL := $hero -}}
    {{- with $heroResource -}}
        {{- $heroURL = .RelPermalink -}}
    {{- end -}}
    {{- if not $heroURL -}}
        {{- $heroURL = $hero -}}
    {{- end -}}
    {{- if and $heroURL (not (urls.Parse $heroURL).Host) -}}
        {{- $heroURL = $heroURL | relURL -}}
    {{- end -}}
    <section class="page-hero{{ with $page.Type }} page-hero-{{ . }}{{ end }}"{{ with $heroURL }} style="--hero-image: url('{{ . | safeURL }}')"{{ end }}>
        <div class="page-hero-overlay"></div>
        <div class="page-hero-content">
            <h1 class="page-hero-title">{{ $page.Title }}</h1>
        </div>
    </section>
{{- end -}}
